{{> header_main}}
<div class="container preview">
    <div class="text-center">
        <div class="preview-text">
            <h1>Ověření podpisu Bank iD</h1>
        </div>
    </div>
    <div class="panel document-upload-panel">
        <div class="document-upload-error">
            <img src="img/remove.svg" alt="Nahrát dokument" />
            <div class="error-text">Dokument neobsahuje podpis Bank iD</div>
        </div>
    </div>
</div>
{{> footer}}
