{{> header}}
<div class="container info">
    <div class="infolabel">
        <h3>Gratulujeme, Bank iD máte aktivní!</h3>
        <p>Podívejte se, kde všude svou bankovní identitu <a target='_blank' href='https://www.bankid.cz/'>využijete</a>.</p>
        <p>Zde si můžete zkontrolovat údaje, které jsme obdrželi z Vaší banky.</p>
    </div>
    <div class="panel">
        <div class="infoform">
            <div class="element">
                <p class="label">Jméno</p>
                <div class="field">
                    <p class="placeholder">{{#name}}{{name}}{{/name}}{{^name}}-{{/name}}</p>
                </div>
            </div>
            <div class="element">
                <p class="label">Email</p>
                <div class="field">
                    <p class="placeholder">{{#email}}{{email}}{{/email}}{{^email}}-{{/email}}</p>
                </div>
            </div>
            <div class="element">
                <p class="label">Telefon</p>
                <div class="field">
                    <p class="placeholder">{{#phone_number}}{{phone_number}}{{/phone_number}}{{^phone_number}}-{{/phone_number}}</p>
                </div>
            </div>
            <div class="element">
                <p class="label">Bank iD identifikátor</p>
                <div class="field">
                    <p class="placeholder">{{#sepSub}}{{sepSub}}{{/sepSub}}{{^sepSub}}-{{/sepSub}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="legal">
        Toto je pouze ukázka. Všechny údaje po opuštění této stránky zapomínáme a dále nezpracováváme.
    </div>
    <div class="legal">
        Děkujeme za vyzkoušení Bank iD.
    </div>

</div>
{{> footer}}